<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="No such image found">

<p><h3> <%= campground.description %> </h3></p>

<% include partials/footer %>