/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#newHeader {
	text-align: center;
}

#newForm {
	margin: 20px auto;
	width: 40%;
}















